.cart-container {
  margin-top: 60px;
  margin-left: 25%;
  display: flex;
  width: 80%;
}

.cart-map {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fit,minmax(500px, 1fr));
  margin-left: 5%;

}

.vh {
height: 70vh;}


.cart-container img{
  width: 30%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.cart-info {
  margin-left: 20px;
}

.cart-info p {
  justify-content: start;
}

.cantidad {
  display: flex;
  
}

.increment, .decrement {
  color: #ffffff;
  background-color:rgb(140, 140, 245);
  text-align: center;
  width: 30px;
  height: 30px;
  margin-left:20px;
  margin-right: 20px;
}

.delate {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
}

.card-cupon {
  width: 30%;
  height: 180px;
  border: solid 1px black;
  margin-left: 35%;
  margin-bottom: 100px;
  
}

.card-cupon h4{
  text-align: center;
}
.card-cupon h5{
  margin-left: 20px;
  font-family: italic;
}

.icons {
  margin-left: 20px;
}

.card-cupon input {
  margin-top: 15px;
  margin-left: 10px;
  width: 70%;
  border: solid 1px black;
}

.total {
  display: flex;
}

.card-cupon button {
  background-color:rgb(140, 140, 245);
  border: solid 1px black;
  color: white;
}

.continuar-pedido {
  margin-top: 20px;
  margin-left: 32%;
  border-radius: 5px;
}




@media only screen and  ((min-width: 350px) and (max-width: 1024px)) {

  .cart-map {display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
  column-gap: 80px;
  }
  
  .cart-info h3 {
    font-size: 1em;
  }
  .cart-container {
    display: flex;
  }
  
  .cart-container img {
    width: 70%;
    margin-left: -30%;
    border-radius: 5px;
  }
  
  .cantidad {
    margin-left: -15px;
  }

  .cart-info {
    margin-left: 20px;
  }

  .card-cupon {
    width: 90%;
    height: 180px;
    border: solid 1px black;
    margin-left: 5%;
  }
  .cantidad p {
    margin-top: 3px;
  }


  
  .icons {
    margin-left: 20px;
  }
  
  .card-cupon input {
    margin-top: 15px;
    margin-left: 10px;
    width: 60%;
    border: solid 1px black;
  }
  
  
  
  .card-cupon button {
    background-color:rgb(140, 140, 245);
    border: solid 1px black;
    color: white;
  }
  
  .continuar-pedido {
    margin-top: 25px;
    margin-left: 27%;
    border-radius: 5px;
  }


  
  
}
