@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

.Header-alert {
	font-size: .9em;

}

:root {
	--mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #ffffff;
	--textColor: #eee;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	width: 100%;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
	

}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
	font-size: 1.2em;
}

nav a:hover {
	color: var(--secondaryColor);
  zoom: 105%;
}



header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 2.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

.logo {
	color: white;
  font-family: 'Comic Sans MS' ;
  font-weight: bold;
}

.logo:hover {
	zoom: 110%;
}

.div-section {
  margin-left: 350px;
  
}

.cart, .notification, .user {
  width: 23px;
  height: 40px;
	cursor: pointer;
}



@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: calc(100vh - 60px); /* establecer altura fija */
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
    z-index: 1;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}

  .div-section {
    display: grid;
    margin-left: -10px;
    gap:20px ;
  }
}
